html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

svg {
	width: 100vw;
	height: 100vh;
	color: white;
	z-index: 1;
	position: absolute;
}

body {
	background-color: black;
}

text {
	font-family: "Helvetica";
	font-size: 8px;
}

@font-face {
    font-family: 'FoundersGroteskWeb-Semibold';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskWeb-Light';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
	font-family: FoundersGroteskWeb-Light;
	font-size: 1.5vw;
	color: #FFFFFF;
	float: right;
	margin-top: 48vh;
	margin-right: 8vw;
	z-index: 10;
	position: relative;
	/*margin-left: 10px;*/
}

.title h1 {
	font-family: FoundersGroteskWeb-Semibold;
	font-size: 2.0vw;
}

.title a {
	color: white;
	font-size: 1.0vw;
}

