html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

svg {
	width: 100vw;
	height: 100vh;
	color: white;
	z-index: 1;
	position: absolute;
}

body {
	background-color: black;
}

text {
	font-family: "Helvetica";
	font-size: 8px;
}

@font-face {
    font-family: 'FoundersGroteskWeb-Semibold';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskWeb-Light';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
	font-family: FoundersGroteskWeb-Light;
	font-size: 1.5vw;
	color: #FFFFFF;
	float: right;
	margin-top: 48vh;
	margin-right: 8vw;
	line-height: 1.8vw;
	z-index: 10;
	position: relative;
	/*margin-left: 10px;*/
	color: #A7A9AC;
}

.title h1 {
	font-family: FoundersGroteskWeb-Semibold;
	font-size: 2.0vw;
	color: white;
}

.title a {
	color: #EE352E;
	font-size: 1.0vw;
	text-decoration: none;
}

.project-url a {
	color: gray;
}

#results {
	background-color: #000;
}

@keyframes pulse {
  0% {
	background-color: #000;
    opacity: 0;
  }
  25% {
	background-color: #000;
    opacity: 1;
  }
  50% {
  	background-color: #000;
    opacity: 1;
  }
  75% {
  	background-color: #000;
    opacity: 1;
  }
  100% {
  	background-color: #0039A6;
    opacity: 0;
  }
}

@media (max-width: 1100px) {
	.title h1 {
		font-size: 18px;
	}
	.title {
		line-height: 14px;
		font-size: 14px;
	}
	.title a {
		font-size: 12px;
	}
	.project-url a {
		font-size: 12px;
	}
}


#button {
	border: 0.6vmin solid #FFFFFF;
	font-family: Lato, Helvetica, sans-serif;
	width: 62%;
	font-weight: bold;
	font-size: 1.2vw;
	color: #FFFFFF;
	margin: 20px 0px 0 0;
    padding: 5px 0px;
}

#button a {
	text-decoration: none;
	color: white;
	margin-left: 25%;
}
