@font-face {
    font-family: 'FoundersGroteskWeb-Semibold';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskWeb-Light';
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot');
    src: url('/belgrade/fonts/FoundersGroteskWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('/belgrade/fonts/FoundersGroteskWeb-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #00000A;
  padding: 0px;
  margin: 0px;
}

#main {
	float: left;
}

.content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00000A;
    padding: 10px 0;
}

#title{
	font-family: FoundersGroteskWeb-Semibold;
	font-size: 2.5vw;
	color: #FFFFFF;
	margin-left: 10px;
}

#subtitle {
	font-family: FoundersGroteskWeb-Light;
	font-size: 2.5vw;
	color: #FFFFFF;
	margin-left: 10px;
}

#learnmore {
	font-family: FoundersGroteskWeb-Light;
	font-size: 1vw;
	color: #FFFFFF;
	margin-left: 1vw;
}

#learnmore a {
	text-decoration: none;
	color: white;
}

#link {
	margin-left: 10px;
	margin-right: 10px;
}

#button {
	border: 0.6vmin solid #FFFFFF;
	font-family: Lato, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	color: #FFFFFF;
	float: right;
	margin: 0 20px 0 0;
    padding: 10px 30px;
}

#button a {
	text-decoration: none;
	color: white;
	margin: 0px 3vw 0px 3vw;
}


@media (max-width: 1100px) {
    .content {
        overflow: hidden;
        text-align: center;
        padding-top: 30px;
    }
    #main {
        width: 100%;
        margin-bottom: 20px;
    }
    #learnmore {
        display: block;
        font-size: 20px;
    }
    #title {
        font-size: 40px;
        position: relative;
    }
    #subtitle {
        font-size: 30px;
    }
    #button {
        border: 2vmin solid #FFFFFF;
        font-size: 25px;
        padding: 20px 30px;
        margin: 20px auto;
        float: none;
        width: 80%;
        position: relative;
        clear: both;
    }
}


