<!DOCTYPE html>
<html>
  <head>
    <title>Hackaday | Belgrade // May 9 2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/belgrade/stylesheets/2018.css' />    
    <script src="/belgrade/javascripts/2018.js"></script>
  </head>
  <body>    
    <svg id="results" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
    <script>
        render()
    </script>
    <div class="title">
      <h1>Hackaday | Belgrade 2020</h1>
      <p>May 9 2020</p>
      <a href="https://hackaday.com/tag/2020-hackaday-belgrade/">Conference Updates</a>
      <span class="project-url">
      <a href="https://hackaday.io/project/28093-code-of-conduct"> | Code of Conduct</a>
      </span>
      <div id="button"><a href="https://www.eventbrite.com/e/hackaday-belgrade-2020-tickets-88735529357">Tickets</a></div>
    </div>
  </body>
</html>