<!DOCTYPE html>
<html>
  <head>
    <title>Hackaday | Belgrade // April 9 2016</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/belgrade/stylesheets/style.css' />
    <script src="/belgrade/javascripts/bitmap.js"></script>
    <script src="/belgrade/javascripts/script.js"></script>
  </head>
  <body>
  	<div id="bitmap"></div>
  	<div class="content">
  		<div id="main">
  			<div id="title">Hackaday | Belgrade 
  				<span id="subtitle">// April 9 2016</span> 
  				<span id="learnmore">
  					<a href="https://docs.google.com/forms/d/1ZXdUKBkIH8slJ4DQpfA8KP2IUyFORtAqeQspN_-wqUk/viewform?c=0&w=1" id="link">call for proposals</a> | 
  					<a href="https://hackaday.io/project/8672-hackaday-belgrade" id="link">hackaday.io project page</a> |
  					<a href="http://hackaday.com/2016/01/21/hackaday-europe-call-for-proposals/" id="link">about</a> 
  				</span>
  			</div>
  		</div>
  		<div id="button"><a href="https://www.eventbrite.com/e/hackaday-belgrade-tickets-21409115240">Registration opens Feb 8</a></div>
  	<div>
  </body>
</html>
