<!DOCTYPE html>
<html>
  <head>
    <title>Hackaday | Belgrade // Live Stream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/belgrade/stylesheets/style.css' />
  </head>
  <body>
  <!--player code begin-->

<!-- <div id="svp_playeresmdyr4r0y88" style="width:720px;height:560px;position:relative;"></div>-->
<div id="svp_playeresmdyr4r0y88" style="width:720px;height:560px;margin:0 auto;margin-top: 100px;"></div>

<script language="javascript" type="text/javascript" src="https://play.webvideocore.net/js/dplayer.js"></script>
<script language="javascript">
<!--
var vars = {clip_id:"esmdyr4r0y88",transparent:"false",pause:"1",repeat:"",bg_color:"",fs_mode:"2",no_controls:"0",start_img:"1",start_volume:"100",close_button:"",brand_new_window:"1",auto_hide:"1",stretch_video:"",player_align:"NONE",offset_x:"",offset_y:"",player_color_ratio:0.6,skinAlpha:"80",colorBase:"#202020",colorIcon:"#FFFFFF",colorHighlight:"#fcad37",direct:"true",is_responsive:"false",viewers_limit:0,cc_position:"bottom",cc_positionOffset:70,cc_multiplier:0.03,cc_textColor:"#ffffff",cc_textOutlineColor:"#000000",cc_bkgColor:"#000000",cc_bkgAlpha:0.7};
var svp_player = new SVPDynamicPlayer("svp_playeresmdyr4r0y88", "", "720", "560", {use_div:"svp_playeresmdyr4r0y88",skin:"3"}, vars);
svp_player.execute();
//-->
</script>
<noscript>Your browser does not support JavaScript! JavaScript is needed to display this video player!</noscript>
<!--player code end-->

  </body>
</html>
